/* universal tag */
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body {
	position: relative;
}
/* Added font from font-folder */
@font-face {
	font-family: regularWorkSans;
	src: url(../fonts/WorkSans-Regular.woff);
}
@font-face {
	font-family: regularWorkSansSemiBold;
	src: url(../fonts/WorkSans-SemiBold.woff);
}
@font-face {
	font-family: SharpGrotesk-Medium;
	src: url(../fonts/SharpGrotesk-Medium.woff);
}
/* container */
.container {
	margin: 0 auto;
	padding: 15px 30px;
	width: 1320px;
}

/* navbar */
nav {
	display: flex;
	justify-content: space-between;
}
/* nav anchor tags */
nav a {
	color: #000000;
	text-decoration: none;
	font-family: regularWorkSansSemiBold;
	font-size: 16px;
}
/* top margin for nav logo(parallel) */
.nav_logo {
	margin-top: 5px;
}
/* navbar links */
.nav_links {
	display: flex;
	align-items: center;
	gap: 32px;
}
/* nav list */
nav li {
	list-style: none;
}
/* nav button */
.nav_btn{
	cursor: pointer;
	font-family: regularWorkSansSemiBold;
	font-size: 16px;
	border: 1.5px solid #000000;
	border-radius: 10px;
	background-color: #FFD560;
	padding: 12px 30px;
	margin-left: 10px;
}
/* nav button on hover */
.nav_btn:hover{
	transform: scale(1.1);
}
/* for comapnies nav item stlyling */
#nav_company {
	border-right: 2px solid #D2D2D2;
	padding: 4px 30px 4px 0px;
}
/* syling for main content */
main {
	background-color: #fff7f1;
	background-image: url(../Images/img2.png);
	background-repeat: no-repeat;
	background-position: center 120px;
}
/* top button section in main content*/
.top_buttons {
	padding-top: 30px;
	display: flex;
	justify-content: center;
	gap: 15px;
}
/* top button section buttons */
.main-top-btn {
	font-family: regularWorkSansSemiBold;
	font-size: 14px;
	border-radius: 40px;
	border: 1px solid #D2D2D2;
	background-color: transparent;
	padding: 10px 20px;
}
/* top buttons on hover */
.main-top-btn:hover {
	cursor: pointer;
	border: 1px solid #000000;
	background-color: #FFD560;
}
/* /styling of Life/Work heading */
.heading-life {
	font-family: SharpGrotesk-Medium;
	margin-bottom: 12px;
}
/* Parallel section */
.parallel {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px;
}
/* parallel img */
.parallel-img {
	width: 95%;
	height: 100%;
}
/* right div of parallel section */
.parallel-text-content {
	margin-right: 36px;
	padding-right: 40px;
	width: 36%;
}
/*stlying of text inside right div of parallel section */
.parallel-text {
	font-weight: 300;
	line-height: 1.3cm;
	font-size: 32px;
	font-family: SharpGrotesk-Medium;
}
/* sign-up section style */
.Sign-up {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;
}
/* styling of content inside sign up */
.Sign-up-content {
	margin-right: 116px;
	width: 23%;
}
/* sign up div text */
.Sign-up-content-text {
	font-family: SharpGrotesk-Medium;
	font-weight: 300;
	padding-right: 10px;
}
/* Input field inside right div */
.Sign-up-content input {
	height: 50px;
	width: 350px;
	border: 1px solid #000000;
	border-radius: 10px;
	margin: 20px 0px;
}
/* Placeholder of input */
.Sign-up-content input::placeholder {
	font-family: regularWorkSans;
	color: #D2D2D2;
	font-size: 18px;
	padding: 4px 24px;
}
/* Sign up button stlye */
.Sign-up-btn {
	cursor: pointer;
	font-family: regularWorkSansSemiBold;
	font-size: 16px;
	border: 1.5px solid #000000;
	border-radius: 8px;
	background-color: #FFD560;
	padding: 12px 24px;
}
/* Sign up button on hover*/
.Sign-up-btn:hover{
	transform: scale(1.1);
}